@Model  BookListViewModel

@{
    ViewData["Title"] = "Detail boeken";
}

<div class="row">
    <div class="col-md-12">
            @foreach (var book in Model.Books)
            {
                @if (@book.Id == @ViewBag.Message)
                {
                    <h1>@book.Title</h1>
                    <hr />
                    <h3>Author: @book.Author</h3>
                    <p>ISBN: @book.ISBN</p>
                    <p>Published: @book.CreationDate.ToShortDateString()</p>

                }
            }
    </div>
</div>